body, #root {
  height: 100%;
}

.greyBackground {
  background-color: lightgray;
  height: 100vh;
}

.inlineDisplay {
  display: inline !important;
}

.asLink {
  cursor: pointer;
  color: #4183c4;
}